
.navigate {
    width: 100%;
    max-width: 200px;
    padding: 40px 50px;
    height: 80vh;
    position: relative;
    background-color: #67a3b6;
}

.navigateItem {
    display: block;
    padding: 10px 0;
    font-size: 20px;
    line-height: 26px;
    color: #ffffff;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .navigate {
        padding: 20px 25px;
    }
}

@media screen and (max-width: 600px) {
    .navigate {
        padding: 10px;
        max-width: 100%;
        height: auto;
    }

    .navigate ul {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
    }

    .navigateItem {
        margin: 5px 10px;
        padding: 5px 15px;
        border: 1px solid #ffffff;
        border-radius: 8px;
        line-height: 24px;
    }
}