
.modalOverlay {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.modalContainer {
    width: 100%;
    max-width: 600px;
    margin: 120px auto 0;
    padding: 40px;
    border-radius: 28px;
    background-color: #ffffff;
    -webkit-box-shadow: 1px 3px 25px 5px rgba(0,0,0,0.6);
    box-shadow: 1px 3px 25px 5px rgba(0,0,0,0.6);
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.fieldset {
    width: 48%;
    position: relative;
    margin: 0 0 20px;
}

.modalFieldsetFull {
    width: 100%;
    position: relative;
}

.modalField {
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 4px;
    padding: 0 20px;
    font-size: 18px;
    line-height: 26px;
}

.modalOptionsBox {
    position: relative;
}

.modalOptionsTitle {
    text-align: center;
    margin: 0 0 20px;
}

.modalOptionRow {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.btnDeleteOption {
    border: none;
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
    background-color: #ffffff;
}

.modalOptionFieldset {
    width: 45%;
    position: relative;
    padding: 0 15px 0 0;
}

.modalOptionField {
    width: 100%;
    height: 38px;
    margin: 0 0 10px;
    padding: 0 15px;
    border: 1px solid #000000;
    border-radius: 4px;
    background-color: #ffffff;
    font-size: 14px;
    line-height: 20px;
}

.modalBtnRow {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 40px 0 0;
}

.helper {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: #cc1919;
}