
.signBox {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.signLink {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    font-size: 20px;
    line-height: 26px;
    border-radius: 8px;
    transition: 0.4s;
    margin-left: 40px;
}

.signLink_primary {
    background-color: #ffffff;
    border: 1px solid #14143d;
    color: #14143d;
}

.signLink_primary:hover {
    background-color: #14143d;
    color: #ffffff;
}

.signLink_secondary {
    background-color: #14143d;
    color: #ffffff;
}

.signLink_secondary:hover {
    background-color: #ffffff;
    border: 1px solid #14143d;
    color: #14143d;
}