
.menu,
.additionalMenu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menuLink {
    margin-left: 40px;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    transition: 0.4s;
}

.menuLink:hover {
    color: #1E90FFFF;
}

.menuLink.active {
    text-decoration: underline;
}

.signBox {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.btnContainer {
    margin-left: 40px;
}

.burgerBtnContainer {
    display: none;
    margin-left: 40px;
}

@media screen and (max-width: 1200px) {
    .menuLink {
        margin-left: 20px;
        font-size: 20px;
        line-height: 24px;
    }

    .btnContainer {
        margin-left: 20px;
    }
}

@media screen and (max-width: 900px) {
    .menu {
        display: none;
    }

    .menu.opened {
        display: block;
    }

    .burgerBtnContainer {
        display: block;
    }
}



