
.container {
    display: block;
    width: 100%;
    padding: 15px 20px;
    margin: 0 0 10px;
    background-color: #acbac7;
    font-size: 22px;
    line-height: 26px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btnBox {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.text {
    margin-right: 10px;
}

@media screen and (max-width: 600px) {
    .container {
        margin: 0 0 5px;
        padding: 5px 15px;
        font-size: 18px;
        line-height: 22px;
    }
}