
.box {
    width: 25%;
    min-width: 250px;
    margin: 0 0 20px;
    padding: 0 15px;
    cursor: pointer;
}

.item {
    position: relative;
}

.image {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 10px 0 0;
}

.name {
    font-size: 16px;
    line-height: 24px;
    margin: 0 10px 0 0;
}

.price {
    font-size: 18px;
    line-height: 24px;
    color: #14143d;
}

.btn {
    margin: 10px 0 0;
    width: 100%;
    height: 40px;
    background-color: #14143d;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.devicePageItem {
    padding: 80px 40px 40px;
}

.devicePageInfo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.devicePageImage,
.devicePageText {
    width: 40%;
    margin: 0 40px;
}

.devicePageName,
.devicePagePrice {
    margin: 0 0 20px;
}

.devicePageBtn {
    width: 280px;
    height: 40px;
    background-color: #14143d;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.devicePageDescription {
    margin: 50px 0 0;
}